.env
composer.json
composer.lock
symfony.lock
config/
src/
templates/
tests/
translations/
vendor/
var/cache
var/log
.idea/
phpunit.xml.dist
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
assets/
###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
